# Copy this file values into Dokploy environment variables.
# Do NOT commit real secrets.

PROJECT_NAME=miapp
APP_NAME="Laravel App"

MYSQL_IMAGE_TAG=8.0.36
PHP_BASE_IMAGE=php:8.4-fpm-alpine
NGINX_BASE_IMAGE=nginx:1.26.2-alpine
COMPOSER_IMAGE_TAG=2.7.7
XDEBUG_VERSION=3.5.0
REDIS_PECL_VERSION=6.1.0

APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:REEMPLAZAR_APP_KEY
APP_URL=https://tu-dominio.com

MYSQL_DATABASE=laravel_project
MYSQL_USER=laravel_user
MYSQL_PASSWORD=REEMPLAZAR_DB_PASSWORD
MYSQL_ROOT_PASSWORD=REEMPLAZAR_DB_ROOT_PASSWORD

CACHE_DRIVER=file
SESSION_DRIVER=file

ADMIN1_NAME=Admin Uno
ADMIN1_EMAIL=admin1@example.com
ADMIN1_PASSWORD=REEMPLAZAR_ADMIN1_PASSWORD
ADMIN2_NAME=Admin Dos
ADMIN2_EMAIL=admin2@example.com
ADMIN2_PASSWORD=REEMPLAZAR_ADMIN2_PASSWORD
