version: '3.9'
networks:
  laravel-docker:

services:

  server:
    build:
      context: .
      dockerfile: dockerfiles/nginx.dockerfile
      args:
        NGINX_BASE_IMAGE: ${NGINX_BASE_IMAGE}
    ports:
      - "${WEB_PORT}:8080"
    depends_on:
      php:
        condition: service_started
    networks:
      - laravel-docker
    restart: unless-stopped

  php:
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
      target: app
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        INSTALL_XDEBUG: "false"
        PHP_BASE_IMAGE: ${PHP_BASE_IMAGE}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        REDIS_PECL_VERSION: ${REDIS_PECL_VERSION}
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    networks:
      - laravel-docker
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "${PMA_PORT}:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root.pa55
    networks:
      - laravel-docker

  mysql:
    image: mysql:${MYSQL_IMAGE_TAG}
    restart: unless-stopped
    env_file:
      - ./mysql/.env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel-docker
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:

