version: '3.9'

services:
  server:
    profiles: ["dev"]
    volumes:
      - ./src:/var/www/html:delegated
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

  php:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
      target: base
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        INSTALL_XDEBUG: "true"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      XDEBUG_MODE: debug,develop
      XDEBUG_CONFIG: client_host=host.docker.internal
    volumes:
      - ./src:/var/www/html:delegated
    extra_hosts:
      - "host.docker.internal:host-gateway"

  phpmyadmin:
    profiles: ["dev"]
    image: phpmyadmin/phpmyadmin:5.2.1
    restart: always
    container_name: laravel-phpmyadmin
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - 8090:80
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root.pa55

  composer:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: dockerfiles/composer.dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    depends_on:
      php:
        condition: service_started

  artisan:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
      target: base
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    entrypoint: ["php", "artisan"]
    depends_on:
      php:
        condition: service_started
      mysql:
        condition: service_healthy
