services:
  server:
    volumes:
      - ./src:/var/www/html:delegated
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

  php:
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
      target: base
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        INSTALL_XDEBUG: "true"
        PHP_BASE_IMAGE: ${PHP_BASE_IMAGE}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        REDIS_PECL_VERSION: ${REDIS_PECL_VERSION}
        COMPOSER_IMAGE_TAG: ${COMPOSER_IMAGE_TAG}
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      XDEBUG_MODE: debug,develop
      XDEBUG_CONFIG: client_host=host.docker.internal
    volumes:
      - ./src:/var/www/html:delegated
      - ./dockerfiles/php/opcache-dev.ini:/usr/local/etc/php/conf.d/opcache-dev.ini:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_IMAGE_TAG}
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "${PMA_PORT}:80"
    environment:
      PMA_HOST: mysql
    networks:
      - laravel-docker

  composer:
    image: composer:${COMPOSER_IMAGE_TAG}
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html

  mysql:
    image: "mysql:${MYSQL_IMAGE_TAG}"
    env_file:
      - ./mysql/.env
    volumes:
      - ./mysql_dev_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$$MYSQL_ROOT_PASSWORD --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - laravel-docker

networks:
  laravel-docker:
    name: "${PROJECT_NAME}-net"

